/**
 * @频道 Qunar.com 旅行
 * @项目 旅行——公共基础
 * @作者 张海阔
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
html { -webkit-text-size-adjust:none; }
body { line-height:1px; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:""; content:none; }
body { font-family:"microsoft yahei"; font-weight:normal; background-color:#ffffff; color:#555; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:400; }
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a { text-decoration:none; outline:none; color:#232323; }

.clr, .clear { clear:both; height:0; overflow:hidden; }
.clrfix, .clr_after { zoom:1; }
.clrfix:after, .clr_after:after { clear:both; display:block; height:0; visibility:hidden; content:"."; }

.hide { display:none; }
.hidden { visibility:hidden; }

.qn_page { clear:both; background-color:#ffffff; height:100%; width:100%; min-width:320px; margin:0px; padding:0px; margin-left:auto; margin-right:auto; }
.qn_page .back_top { position:fixed; bottom:30px; right:5px; }
