.b-choice{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 570px;
}

.b-choice h2{
    font-size: 30px;
    padding-bottom: 27px;
    padding-left: 23px;
}
.b-choice .notice{
    position: relative;
    width: 1000px;
    height: 499px;
    background: url("../150115_PC/choose_bg.png") repeat-x;
    _background: url("../150115_PC/choose_bg_ie.png") repeat-x;
}
.b-choice .notice .left-bg,
.b-choice .notice .right-bg{
    position: absolute;
    left: 0;
    top: 91px;
    width: 1px;
    height: 499px;
    background: url("../150115_PC/choose_bg_01.png") no-repeat;
    _background: url("../choose_bg_01_ie.png") no-repeat;
}
.b-choice .notice .right-bg{
    left: 999px;
}
.b-choice .notice .notice-tit{
    height: 91px;
}
.b-choice .notice .notice-tit .item{
    position: relative;
    float: left;
}
.b-choice .notice .notice-tit .item a{
    display: inline-block;
    padding: 1px 1px 0 1px;
    width: 198px;
    height: 91px;
    color: #83f4f3;
;
}
.b-choice .notice .notice-tit .item a:hover{
    padding: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: #6be4e4;
    color: #fff;
}
.b-choice .notice .notice-tit .item .tit{
    position: absolute;
    top: 15px;
    left: 128px;
    width: 60px;
    height: 36px;
    font: italic 24px/30px "microsoft yahei";
}
.b-choice .notice .notice-tit .item .last{
    top:32px;
}
.b-choice .notice .notice-tit .month,
.b-choice .notice .notice-tit .howlong,
.b-choice .notice .notice-tit .partner,
.b-choice .notice .notice-tit .amusement,
.b-choice .notice .notice-tit .visa{
    position: absolute;
    top: -14px;
    left: 1px;
    width: 150px;
    height: 100px;
    background: url("../150115_PC/tab_bg.png") no-repeat;
    _background: url("../150115_PC/tab_bg_ie.png") no-repeat;
}
.b-choice .notice .notice-tit .month{
    background-position: -36px -7px;
}
.b-choice .notice .notice-tit .howlong{
    background-position: -40px -177px;
}
.b-choice .notice .notice-tit .partner{
    left: -5px;
    background-position: -40px -340px;
}
.b-choice .notice .notice-tit .amusement{
    background-position: -30px -507px;
}
.b-choice .notice .notice-tit .visa {
    background-position: -25px -658px;
}