/**
* @模块 网友互动
* @作者 haikuo.zhang
*/
.b-comment{
    position: relative;
    top:80px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    z-index: 100;
}

.b_interactive { background-color:#ffffff; padding:10px 0 20px 20px; }
.b_interactive .hd { color:#333333; height:50px; line-height:50px; padding: 10px 0;}
.b_interactive .hd .tit {float:left; display:inline; font-family:"microsoft yahei"; font-size:40px; color: #01a5af; }
.b_interactive .ct {}
.b_interactive .ct .rightbox { float:right; display:inline; width:225px; }
.b_interactive .ct .rightbox .tit { font-family:"microsoft yahei"; font-size:24px; color:#008890; line-height:40px; text-align:center; }
.b_interactive .ct .rightbox .des { font-size:14px; color:#999999; line-height:18px; text-align:center; }
.b_interactive .ct .listbox_1 { margin-top:20px; }
.b_interactive .ct .listbox_2 { margin-top:40px; }
.b_interactive .ct .listbox_1 .img { width:173px; height:173px; margin-left:22px; }
.b_interactive .ct .listbox_2 .img { width:173px; height:173px; margin-left:22px; }
.b_interactive .ct .leftbox { padding-top:20px; width:745px; }