.sprite-blue_fish {
  background-position: 0 0;
  width: 91px;
  height: 95px;
}
.sprite-close {
  background-position: 0 -145px;
  width: 51px;
  height: 51px;
}
.sprite-conch {
  background-position: 0 -246px;
  width: 68px;
  height: 100px;
}
.sprite-fish {
  background-position: 0 -396px;
  width: 105px;
  height: 84px;
}
.sprite-octopus {
  background-position: 0 -530px;
  width: 120px;
  height: 95px;
}
.sprite-red_fish {
  background-position: 0 -675px;
  width: 127px;
  height: 84px;
}
.sprite-shell {
  background-position: 0 -809px;
  width: 90px;
  height: 86px;
}
.sprite-site {
  background-position: 0 -945px;
  width: 16px;
  height: 24px;
}
.sprite-site_2 {
  background-position: 0 -1019px;
  width: 16px;
  height: 27px;
}
.sprite-site_3 {
  background-position: 0 -1096px;
  width: 17px;
  height: 27px;
}
.b-choice {
  min-height: 595px;
  margin-bottom: 50px;
}
.b-choice h2 {
  font-size: 30px;
  color: #000;
  line-height: 80px;
  margin: 0;
}
