img{
    vertical-align: middle;
}
.container{
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #01c7c6;
    font-family: "microsoft yahei";
    color: #fff;
}
.b-header{
    position: relative;
    top:0;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    font-size: 14px;
}
.b-header .writer{
    position: absolute;
    left: 462px;
    top: 793px;
}
.b-header .writer .shell{
    position: absolute;
    left: -37px;
    top: 75px;
    z-index: 1;
    width: 100px;
    height: 125px;
    background: url("../150115_PC/tab_bg.png") no-repeat -60px -800px;
    _background: url("../150115_PC/tab_bg_ie.png") no-repeat -60px -800px;
}
.b-header .head-img{
    width: 160px;
    height: 160px;
    border: 3px solid #f2d279;
    border-radius: 83px;
}

.b-header .name{
    position: relative;
    top: -23px;
    left: 20px;
    font-size: 24px;
    line-height: 19px;
}
.b-header .mark{
    position: absolute;
    top: 5px;
    left: 152px;
    width: 70px;
    height: 18px;
    line-height: 18px;
    padding: 3px 10px;
    background: #f6805a;
    font-size: 14px;
}
.b-header .introduce{
    position: absolute;
    top: 95px;
    left: 191px;
    width: 420px;
    height: 75px;
    line-height: 19px;
    overflow: hidden;
}
.b-header .essay{
    position: absolute;
    top: 196px;
    left: 24px;
    width: 580px;
    height: 190px;
    line-height: 24px;
    overflow: hidden;
}
.b-header .essay span{
    color: #ffe08a;
}