.test-result {
	width: 400px;
	margin: 0 auto;
	min-height: 448px;
	*height: 448px;
}

.test-result h1{
	font-size: 32px;
	color: #af891d;
	text-align: center;
	line-height: 100px;
}

.test-result img{
	display: block;
	width: 400px;
	height: 240px;
}

.test-result .content {
	margin-top: 28px;
}

.test-result .content p{
	font-size: 20px;
	color: #000;
	line-height: 1.5;
	text-align: center;
}

