.b-test{
    position: relative;
    top:0;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 450px;
    background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/test_bg.jpg") no-repeat 0 bottom;
}
.bg_left{
    position: absolute;
    width: 341px;
    height: 400px;
    left: -52px;
    bottom: -54px;
    background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/test-left.png") no-repeat;
}
.bg_right{
    position: absolute;
    width: 268px;
    height: 390px;
    right: -48px;
    bottom: -52px;
    background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/test-right.png") no-repeat;
}
.b-test h2{
    padding-top: 28px;
    font-size: 40px;
    color: #b9942c;
    text-align: center;
}
.b-test .test_content .question{
    height: 250px;
}
.test_content .question .subject{
    position: relative;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    padding-top: 24px;
    color: #333;
}
.test_content .question .subject .title{
    padding-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.test_content .question .subject .option{
    padding-left: 205px;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.test_content .question .subject .circle{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 22px;
    background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/icon.png") no-repeat -14px -74px;
    _background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/icon_ie.png") no-repeat -14px -74px;
}
.test_content .question .subject .active{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/icon.png") no-repeat -14px -10px;
    _background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/icon_ie.png") no-repeat -14px -10px;
}
.test_content .next{
   /* position: relative;
    left: 50%;
    top:20px;
    margin-left: -110px;*/
    display: block;
    padding: 0 55px;
    margin: 0 auto;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #ff7f4d;
    font: 30px/40px "microsoft yahei";
    color: #fff;
    cursor: pointer;
}
.test_content .last{
   /* margin-left: -240px;*/
    padding: 0 20px;
}

.test-result {
    width: 400px;
    margin: 0 auto;
    min-height: 448px;
}

.test-result h1{
    font-size: 36px;
    color: #af891d;
    text-align: center;
    line-height: 85px;
}
.test-result .result-img{
    position: relative;
}
.test-result .result-img .mask{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 400px;
    height: 50px;
    font: 24px/50px "microsoft yahei";
    background: url("http://source.qunar.com/site/images/zhuanti/travel/150115_PC/result_mask.png") no-repeat;
    _bottom:172px;
}
.test-result img{
    display: block;
    width: 400px;
    height: 240px;
}

.test-result .content {
    margin-top: 28px;
}

.test-result .content p{
    font-size: 20px;
    color: #000;
    line-height: 1.5;
    text-align: center;
}
