<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选海岛</title>
    <!--<link href="http://qunarzz.com/travel/prd/styles/activity/activity_choose_island-2367834523452345.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/choose.css"/>
    <link rel="stylesheet" href="css/comment.css"/>
    <link rel="stylesheet" href="css/bottom.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/map.css"/>
    <link rel="stylesheet" href="css/recommend.css"/>
    <link rel="stylesheet" href="css/right_slide.css"/>
    <link rel="stylesheet" href="css/share.css"/>
    <link rel="stylesheet" href="css/test.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://qunarzz.com/js/compatibilityUtils/build/DD_belatedPNG-min.js"></script>
    <script type="text/javascript">DD_belatedPNG.fix('.pngfix');</script>
    <![endif]-->
</head>
<body>
<script>
    var SID = 1929;
</script>
<div class="container">
    <div class="b-header">
        <ul class="bg_list">
            <li><img src="150115_PC/island_header_bg_01.jpg" width="100%"></li>
            <li><img src="150115_PC/island_header_bg_02.jpg" width="100%"></li>
            <li><img src="150115_PC/island_header_bg_033.jpg" width="100%"></li>
            <li><img src="150115_PC/island_header_bg_04.jpg" width="100%"></li>
            <li><img src="150115_PC/island_header_bg_05.jpg" width="100%" class="iefix"></li>
        </ul>
        <div class="writer">
            <div class="shell"></div>
            <img class="head-img" src="http://img1.qunarzz.com/ucenter/portrait/201407/23/2be87e9d4ec5692e5b6b18d1.jpg" alt=""/>
            <span class="name">任紫玉ziyu<span class="mark">聪明旅行家</span></span>
            <p class="introduce">去哪儿网聪明旅行家，专栏作家，旅行撰稿人，作品《天使之城》、《国境之南》等。文章散见于《孤独星球》、《潜水DIVING》、《风景名胜》、《最小说》等多家报刊杂志。</p>
            <p class="article">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;海岛出游，从春到夏，秋到冬，都是美好浪漫的主题。看海浪拍打沙滩，听清晨啾啾鸟鸣，与灿烂的阳光玩游戏，椰林树影，清风摇曳，潜水、吃海鲜、晒太阳，美丽的姑娘穿白色长裙，摘一朵粉红色鸡蛋花带在鬓旁，心动之际请带好比基尼和墨镜，海岛假期，说走就走。</br></br>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出行几件事，预算第一位。预算三千可以选择三亚、济州岛、普吉岛，预算五到六千首推塞班岛，巴厘岛，冲绳。预算八千到一万可选帕劳、斐济，预算一万到两万必选印度洋上三颗明珠：塞舌尔，马尔代夫，毛里求斯，土豪们还可以去大溪地哦……

                <span><a href="http://travel.qunar.com/travelbook/topic/2900" target="_blank" data-beacon="article">查看详情></a></span>
            </p>
        </div>
    </div>
    <div class="b-choice">
        <h2>选岛五要素</h2>
        <div class="notice">
            <div class="left-bg"></div>
            <div class="right-bg"></div>
            <div class="notice-tit" id="notice-tit">
                <ul>
                    <li class="selected notice_btn"><div  data-index="0" class="item"><span class="month"></span><span class="tit">出行月份</span></div></li>
                    <li class="notice_btn"><div data-index="1" class="item"><span class="howlong"></span><span class="tit">出行时长</span></div></li>
                    <li class="notice_btn"><div data-index="2" class="item"><span class="partner"></span><span class="tit">出行人员</span></div></li>
                    <li class="notice_btn"><div data-index="3" class="item"><span class="amusement"></span><span class="tit">娱乐偏好</span></div></li>
                    <li class="notice_btn"><div data-index="4" class="item"><span class="visa"></span><span class="tit last">预算</span></div></li>
                </ul>
            </div>
            <div class="main-content" id="main-content">
                <div class="tit-con first">
                    <ul>
                        <li>
                            <div><span class="partner">12月至3月</span><span class="path">薄荷岛&nbsp;&nbsp;普吉岛&nbsp;&nbsp;苏梅岛&nbsp;&nbsp;长滩&nbsp;&nbsp;三亚&nbsp;&nbsp;马尔代夫</span></div>
                            <p class="info">此时是部分海岛的干季，避开了台风和暴雨的肆虐，天空晴朗，雨水较少，可谓是薄荷岛、马尔代夫等海岛的最佳旅游时间。而温暖舒适的三亚更是冬季的避寒胜地。</p>
                        </li>
                        <li>
                            <div><span class="partner">4月至5月</span><span class="path">沙巴&nbsp;&nbsp;冲绳&nbsp;&nbsp;毛里求斯</span></div>
                            <p class="info">沙巴：此时适合潜水，整个5月还有各种庆典活动；冲绳：温度适宜还可以岛上赏樱花；毛里求斯：天气最为舒适，是最佳旅行时间。</p>
                        </li>
                        <li>
                            <div><span class="partner">5月至10月</span><span class="path">塞舌尔&nbsp;&nbsp;济州岛&nbsp;&nbsp;巴厘岛</span></div>
                            <p class="info">塞舌尔：旱季，天气干爽；济州岛：气候相对怡人，且花繁叶茂，多姿多彩；巴厘岛：干季，适合潜水、登山和潜泳，而且期间盛大的节庆活动很多。</p>
                        </li>
                        <li>
                            <div><span class="partner">全年皆宜</span><span class="path">夏威夷&nbsp;&nbsp;帕劳&nbsp;&nbsp;塞班岛</span></div>
                            <p class="info">夏威夷：四季皆宜的旅游地点，冬季海浪滔天，最适宜冲浪，观赏鲸鱼的最好时节是1月至3月；夏季则最适宜帆板运动。 帕劳：热带雨林气候，全年平均温度约27℃。在雨季也经常阳光普照。塞班岛：热带海岛，没有四季之分，只要不赶在雨季（5月至7月）出行，都可以拥有一个明媚的假期。</p>
                        </li>
                    </ul>
                </div>
                <div class="tit-con">
                    <ul>
                        <li>
                            <div><span class="partner">3至5天</span><span class="path">三亚&nbsp;&nbsp;济州岛&nbsp;&nbsp;苏梅岛&nbsp;&nbsp;普吉岛&nbsp;&nbsp;薄荷岛&nbsp;&nbsp;塞班岛&nbsp;&nbsp;长滩岛&nbsp;&nbsp;沙巴</span></div>
                            <p class="info">散落在太平洋西部的岛屿，距中国大陆距离较近，再加上海岛面积较小，因此不论是国内的三亚、韩国的济州岛、还是泰国的苏梅、普吉岛抑或世外桃源薄荷岛、塞班岛、长滩岛和沙巴，这些可爱的小岛们都可以在3至5天的时间内悠闲的游览一遍。</p>
                        </li>
                        <li>
                            <div><span class="partner">5至7天</span><span class="path">马尔代夫&nbsp;&nbsp;塞舌尔&nbsp;&nbsp;帕劳&nbsp;&nbsp;巴厘岛&nbsp;&nbsp;夏威夷&nbsp;&nbsp;毛里求斯</span></div>
                            <p class="info">若是到了文化底蕴深厚的冲绳、蜜月天堂马尔代夫、非洲明珠塞舌尔、潜水天堂帕劳、风景绝美的巴厘岛以及跨越大洋的夏威夷和毛里求斯，那你可是要忍不住多驻足两日了，这些岛屿如珍珠般散落在蔚蓝的大海中，不同颜色的海定会让你醉心不已。</p>
                        </li>
                        <li>
                            <div><span class="partner">7天以上</span><span class="path">大溪地</span></div>
                            <p class="info">其实，任何海岛都可以待个7天以上，有钱任性！但作为一枚响当当的土豪，若是能在大溪地待上十天半个月，那绝对是极致体验。</p>
                        </li>
                    </ul>
                </div>
                <div class="tit-con">
                    <ul>
                        <li>
                            <div><span class="partner">亲子</span><span class="path">普吉岛&nbsp;&nbsp;夏威夷&nbsp;&nbsp;冲绳岛&nbsp;&nbsp;三亚&nbsp;&nbsp;沙巴&nbsp;&nbsp;长滩岛</span></div>
                            <p class="info">夏威夷、冲绳岛、三亚、长滩岛和沙巴拥有设备齐全的公共基础设施，发展水平较高酒店和旅游服务，一家人选择任何一岛都可以享受到温馨而有趣的家庭旅行。普吉岛距离国内较近，并拥有丰富的娱乐设施，非常适合儿童玩耍。</p>
                        </li>
                        <li>
                            <div><span class="partner">情侣</span><span class="path">巴厘岛&nbsp;&nbsp;马尔代夫&nbsp;&nbsp;普吉岛&nbsp;&nbsp;毛里求斯&nbsp;&nbsp;大溪地</span></div>
                            <p class="info">巴厘岛、马尔代夫、普吉岛、毛里求斯，还有顶级海岛大溪地，这些岛屿上都有一种属于情人间浪漫的气质，独特的海岛文化，不同的历史传统和民俗风情，以及流传在当地的那些或美丽或悲伤或传奇的爱情故事，发展完善的旅游酒店，更会给情侣带来更多愉悦。</p>
                        </li>
                        <li>
                            <div><span class="partner">朋友</span><span class="path">帕劳&nbsp;&nbsp;济州岛&nbsp;&nbsp;薄荷岛&nbsp;&nbsp;苏梅岛</span></div>
                            <p class="info">和朋友出行，一定要轻松愉快又充实，而帕劳、济州岛、薄荷岛、苏梅岛，这几个有趣美丽又经济实惠的岛屿一定是首选。一起去玩潜水、烧烤，在海滩上唱歌都是极好的体验。</p>
                        </li>
                    </ul>
                </div>
                <div class="tit-con">
                    <ul>
                        <li>
                            <div><span class="partner">潜水</span><span class="path">塞舌尔&nbsp;&nbsp;马尔代夫&nbsp;&nbsp;帕劳&nbsp;&nbsp;薄荷岛&nbsp;&nbsp;毛里求斯</span></div>
                            <p class="info">潜水绝对是一个让人难以忘怀的体验。你可以在梦幻的的水域里感受海洋，清凉明澈的水中，多彩的让人难忘的海底生物。在水中自由的移动呼吸，感受海洋的力量，与那些往日无法见面的海洋生物近距离接触，去体会海洋世界的美丽。塞舌尔、马尔代夫等岛都有非常优秀的潜水环境，无论你是喜欢浮潜还是深浅，都可以得到满足！</p>
                        </li>
                        <li>
                            <div><span class="partner">冲浪</span><span class="path">夏威夷&nbsp;&nbsp;长滩岛&nbsp;&nbsp;塞班岛</span></div>
                            <p class="info">世界上每天都会有许多人四处寻找着一处最完美的冲浪胜地，仅为完成一次与海浪的完美追逐。与海浪一起奔跑，享受飞翔在海面上的感觉，这也是一个潇洒优雅的运动，感受海洋亲密海洋的最佳方式哦。夏威夷、长滩岛、塞班岛都有着冲浪爱好者极为赞赏的海浪条件，想去看海浪卷起时微笑？那就选择一个小岛出发去冲浪吧。</p>
                        </li>
                        <li>
                            <div><span class="partner">海滩</span><span class="path">长滩岛&nbsp;&nbsp;冲绳岛&nbsp;&nbsp;三亚&nbsp;&nbsp;普吉&nbsp;&nbsp;苏梅岛</span></div>
                            <p class="info">每天都匆忙的我们，应该给自己一个努力工作学习的犒赏。躺在阳光明媚的海滩上，享受纯净海风的抚摸，眺望无尽的蓝的让人落泪的海水，无疑是一件十分美妙的休憩。冲绳岛的独特日式海洋文化，三亚的椰影婆娑和明媚的阳光，普吉岛独特的宗教与海洋相映，苏梅岛的4里长的新月型查汶海滩，最美的沙滩，最漂亮的姑娘，都在这里。</p>
                        </li>
                    </ul>
                </div>
                <div class="tit-con">
                    <ul>
                        <li>
                            <div><span class="partner">3000-5000元</span><span class="path">三亚&nbsp;&nbsp;巴厘岛&nbsp;&nbsp;普吉岛&nbsp;&nbsp;济州岛&nbsp;&nbsp;苏梅岛</span></div>
                            <p class="info">作为国内一线度假海岛，去三亚的最佳出行时长为3至5天，总预算为4000-5000元。巴厘岛、普吉岛和苏梅岛都在东南亚，一般度假天数为3-5天，总体花费可达到4000-5000元。其中包括机票含税往返2500元左右，当地中档酒店约200-300元一晚。而位于韩国的济州岛由于距离较近，预算则要低些，基本上3000-5000元就可以玩得很好。</br>
                            </p>
                        </li>
                        <li>
                            <div><span class="partner">6000-9000元</span><span class="path">长滩岛&nbsp;&nbsp;塞班岛&nbsp;&nbsp;沙巴</span></div>
                            <p class="info">游玩长滩岛和冲绳，国内往返机票一般在2000-3500元，因此总预算大概在6000-8000元。而沙巴由于直飞航班较少，机票水涨船高，因此预算也要相对高些。
                            </p>
                        </li>
                        <li>
                            <div><span class="partner">10000以上</span><span class="path">马尔代夫&nbsp;&nbsp;塞舌尔&nbsp;&nbsp;帕劳&nbsp;&nbsp;毛里求斯&nbsp;&nbsp;夏威夷</span></div>
                            <p class="info">马尔代夫，人均旅游费用约12000元，虽说不同岛决定不同的马尔代夫，但在价格面前，人们依然会为“牺牲价格”还是“牺牲风景”而踌躇不决。毕竟去一趟马尔代夫要出不少费用。其次是斐济，人均费用12000-13000元，紧接着是夏威夷和塞舌尔，基本在16000-20000左右，最贵的是大溪地，人均费用在2万-3万元。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="b-test">
        <div class="bg_left"></div>
        <div class="bg_right"></div>
        <div class="test-content" id="test_bg">
            <h2>测测你的专属海岛</h2>
            <div class="test_content">
                <div class="question" id="question">
                    <dl class="subject">
                        <dt class="title">1、在纪念品店看到漂亮海星，你会送给谁？</dt>
                        <dd class="option"><span class="circle active"></span>爱人</dd>
                        <dd class="option"><span class="circle"></span>父母</dd>
                        <dd class="option"><span class="circle"></span>孩子</dd>
                        <dd class="option"><span class="circle"></span>朋友</dd>
                    </dl>
                </div>
                <button class="next" id="next">下一题</button>
                <button class="next last" id="share" style="display: none;">分享后 可查看你的专属海岛</button>
            </div>
        </div>
        <div class="share-wrapper" id="dialog-mask">
            <div class="share-window">
                <ul>
                    <li class="title">分享至: </li>
                    <li><img class="dialog-share" data-type="weibo" src="150115_PC/sina.png" alt=""/></li>
                    <li><img class="dialog-share" data-type="tencent" src="150115_PC/qq_microblog.png" alt=""/></li>
                    <li><img class="dialog-share" data-type="QQroom" src="150115_PC/qq_zone.png" alt=""/></li>

                </ul>
            </div>
        </div>
        <div class="test-result" id="result-content" style="display: none;">
            <h1>最适合你的海岛是</h1>
            <div class="result-img">
                <img src="" alt=""/>
                <div class="mask">岛岛岛</div>
            </div>
            <div class="content">
                <p>流弊轰轰， 人品爆发</p>
                <p>要去塞舌尔想想还有点小激动呢！</p>
            </div>
        </div>
    </div>
    <div class="b-recommend">
        <h2>聪明旅行家海岛推荐</h2>
        <div class="recommend-show">
            <ul id="recommend-content">
            </ul>
        </div>
        <div class="dialog">
            <div class="island-info">
                <span class="close"></span>
                <h2><a href="" target="_blank" class="recommend-tit">沙巴</a></h2>
                <div class="introduce">
                    <a href="" target="_blank" class="writer-space">
                        <img class="writer-img" src="" alt=""/>
                        <span class="name">擦小明amo</span>
                        <span class="flag">聪明旅行家</span>
                    </a>
                    <p class="intro"></p>
                </div>
                <ul class="show">
                </ul>
            </div>
        </div>
    </div>
    <div class="b-map">
        <h2>海岛地图</h2>
        <div class="island-map">
            <ul class="island-list">
            </ul>
            <div class="dialog-map">
                <div class="name"><span class="place-icon"></span></div>
                <div class="content">
                    <a href="#" target="_blank" data-beacon="map_more" class="pic-link"><img src="" class="content_image" alt=""/></a>
                    <p class="map_essay"></p>
                    <a href="#" target="_blank" data-beacon="map_more" class="forMore">查看详情></a>
                </div>
            </div>
        </div>
    </div>
        <div class="b-comment">
        <!--网友互动==================-->
        <div id="js_interactive" class="b_interactive">
            <div class="hd clrfix">
                <span class="tit">留言板</span>
            </div>
            <div class="ct clrfix">
                <div class="rightbox">
                    <a href="http://travel.qunar.com/travelbook/phone/?from=traveltop" target="_blank">
                        <div class="listbox_1">
                            <div class="img"><img src="http://source.qunar.com/site/images/zhuanti/140804/app_download.jpg" alt="去哪儿攻略" width="171" height="171" /></div>
                            <div class="tit">去哪儿攻略</div>
                            <div class="des">（扫描二维码下载）</div>
                        </div>
                    </a>
                    <a href="http://travel.qunar.com/travelbook/phone/?from=traveltop" target="_blank">
                        <div class="listbox_2">
                            <div class="img"><img src="http://source.qunar.com/site/images/zhuanti/140804/weixin.jpg" alt="关注去哪儿攻略官方微信账号" width="171" height="171" /></div>
                            <div class="tit">微信扫一扫</div>
                            <div class="des">关注去哪儿攻略官方微信账号</div>
                        </div>
                    </a>
                </div>
                <div class="leftbox">
                 <!--<script type="text/javascript">-->
                        <!--var iframeHtml = '<iframe id="commentPage" name="commentPage" frameBorder="0" scrolling="auto" width="100%" height="485" src="http://travel.qunar.com/travelbook/topic/'+ window.TOPIC_ID +'/commentPage"></iframe>';-->
                        <!--document.write(iframeHtml);-->
                  <!--</script>-->
                </div>
            </div>
        </div>
        <!--/网友互动==================-->
    </div>
    <div class="b-bottom">
        <ul class="bg_list">
            <li><img src="150115_PC/bottom_bg_01.jpg" width="100%"></li>
        </ul>
        <div class="b_bottom clrfix">
            <div class="e_content e_newtrip">
                <p class="title">10分钟,搞定行程计划</p>
                <p class="text">拥有全球最全的景点信息库和真实用户点评<br/>快速安排行程，自动同步到手机，轻松携带上路。</p>
                <a href="http://travel.qunar.com/plan/first" target="_blank">
                    <span>创建行程</span>
                </a>
            </div>
            <div class="e_content e_travelnote">
                <p class="title">快速发表游记</p>
                <p class="text">添加华丽丽的前言贴士，记录行程地点<br/>轻松发布照片，用图文记录旅途故事。</p>
                <a href="http://travel.qunar.com/youji/create" target="_blank">
                    <span>发表游记</span>
                </a>
            </div>
        </div>
    </div>
    <div class="e-rightslide">
        <ul class="slide-list">
            <li class="slide-item current" ><a data-index="0" href="javascript:void(0)">选岛经验谈</a></li>
            <li class="slide-item" ><a data-index="1" href="javascript:void(0);">选岛五要素</a></li>
            <li class="slide-item" ><a data-index="2" href="javascript:void(0);">选岛测试</a></li>
            <li class="slide-item" ><a data-index="3" href="javascript:void(0);">旅行家测试</a></li>
            <li class="slide-item" ><a data-index="4" href="javascript:void(0)">海岛地图</a></li>
            <li class="slide-item" ><a data-index="5" href="javascript:void(0)">留言板</a></li>
            <li class="slide-item" ><a data-index="5" href="javascript:void(0)">手机扫我↓↓</a></li>
            <li class="two-dimension-code"><a href="javascript:void(0)"></a><a href="javascript:void(0)" class="gototop"></a></li>
        </ul>
    </div>
</div>

<!-- 题目模板 -->
<script type="text/template" id="test_template">
    <dl class="subject" data-index="<%= index %>">
        <dt class="title"><%= title %></dt>
        <% _.each(test, function(value, index){ %>
        <dd class="option" data-island="<%= value['island'] %>"><span class="circle"></span><%= value['content'] %></dd>
        <% }); %>
    </dl>
</script>

<!-- 测试结果模板 -->
<script type="text/template" id="island_pic">
    <h1>最适合你的海岛是</h1>
    <div class="result-img">
        <img src="<%= img %>" alt=""/>
        <div class="mask"><%= name %></div>
    </div>
    <div class="content">
        <p><%= reason %> </p>
    </div>
</script>

<!-- 海岛推荐模板 -->
<script type="text/template" id="push_island">
    <% for(var i = 0,len = islands.length; i < Math.ceil(len / 4); i ++){ %>
    <li class="line">
        <ul>
            <%  if(i * 4 + 4 < len){ %>
            <% for(var j = 0; j < 4; j ++){ %>
            <li class="item push_item" data-flag="<%= islands[i*4 + j]['flag']  %>" data-place="<%= islands[i*4 + j]['place'] %>" data-writer="<%= islands[i*4 + j]['writer'] %>" data-content="<%= islands[i*4 + j]['content'] %>" data-show_pic="<%= islands[i*4 + j]['show_pic'].join(',') %>" data-writer_url="<%= islands[i*4 + j]['writer_url'] %>" data-code_img="<%= islands[i*4 + j]['code_img'] %>" data-place_url="<%= islands[i*4 + j]['place_url'] %>" data-link="<%= islands[i*4 + j]['link'] %>">
                <img class="logo" src="<%= islands[i*4 + j]['logo_img'] %>" alt=""/>
                <img class="writer" src="<%= islands[i*4 + j]['code_img'] %>" alt=""/>
                <div class="name"><%= islands[i*4 +j ]['name'] %></div>
            </li>
            <% } %>
            <% }else{ %>
            <% for(var x = i * 4; x < len; x ++){ %>
            <li class="item push_item" data-flag="<%= islands[x]['flag'] %>"  data-place="<%= islands[x]['place'] %>" data-writer="<%= islands[ x]['writer'] %>" data-content="<%= islands[ x]['content'] %>" data-show_pic="<%= islands[ x]['show_pic'].join(',') %>" data-writer_url="<%= islands[ x]['writer_url'] %>" data-code_img="<%= islands[ x]['code_img'] %>" data-place_url="<%= islands[ x]['place_url'] %>" data-link="<%= islands[ x]['link'] %>">
                <img class="logo" src="<%= islands[ x]['logo_img'] %>" alt=""/>
                <img class="writer" src="<%= islands[ x]['code_img'] %>" alt=""/>
                <div class="name"><%= islands[x]['name'] %></div>
            </li>
            <% } %>
            <% } %>
        </ul>
    </li>
    <% } %>
</script>

<script>
    var recommend = [
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/1501/66/0366fe1c39a115.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/1412/d6/d6a40bf7eb0c9a6fbd8.jpg_r_150x150_184020cc.jpg",
            name : "巴厘岛",
            place : "巴厘岛",
            place_url:"http://travel.qunar.com/p-cs302310-balidao",
            writer : "哦鱼鱼鱼",
            writer_url: "http://travel.qunar.com/space/125608652@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/4676130",
            content : "天空和海，一直是我的梦想，若是再有一抹绿色的麦田那一定梦中的天堂。</br>当清晨的第一缕眼光洒在蔚蓝的海平面，当夕阳为广袤的印度洋镀上耀眼的金色，当你坐在午后咖啡店里喝着咖啡看着远处的火山，当你漫步夜晚的麦田边，耳边是窸窣虫鸣，眼前是点点萤火虫，当你骑着自行车，自由得穿梭在巴厘岛绿色田间小路上，你仿佛真的就站在世界的中心……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/ba/551740469a94a3.jpg","http://img1.qunarzz.com/travel/poi/1501/3a/e79a58712033a6.jpg","http://img1.qunarzz.com/travel/poi/1501/a5/dd994d3706edb3.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/1412/b4/b49f6e58c48f9609cdb.jpg_r_480x360x95_a52040a6.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/201407/23/2be87e9d4ec5692e5b6b18d1.jpg_r_150x150_b59bd02b.jpg",
            name : "济州岛",
            place : "济州岛",
            place_url:"http://travel.qunar.com/p-sf367742-jizhoudao",
            writer : "任紫玉ziyu",
            writer_url: "http://travel.qunar.com/space/1837996@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/4065756",
            content : "济州岛是韩剧的浪漫外景地，素有“韩国的夏威夷”之美称。</br>免签和距离近、飞行时间短无疑是很大的诱惑，两小时的时间就能沉浸在海岛风情中。济州岛海水碧蓝天空澄静，春有金黄的油菜花与缤纷粉樱，夏季枝繁叶茂最适合在海边的白沙滩度假晒太阳，冬去汉拿山看雪花纷飞吃热乎的参鸡汤。在济州岛浪漫可漫步偶来小路，购物可去乐天，新罗两大免税店……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/96/71df629d58428d.jpg","http://img1.qunarzz.com/travel/poi/1501/fd/5c317f622bad61.jpg","http://img1.qunarzz.com/travel/poi/1501/ed/fcf9cde0f2d56.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/1501/d6/4194d3d5d0890a.png_r_480x360x95_e6d89c0c.png",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/201401/08/c4ff87506470223a2369ffd5.jpg_r_150x150_b46902fd.jpg",
            name : "马尔代夫",
            place : "马尔代夫",
            place_url:"http://travel.qunar.com/p-cs369114-maerdaifu",
            writer : "Luna熊猫爱旅行",
            writer_url: "http://travel.qunar.com/space/354173@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5035480",
            content : "在马尔代夫，一定要收起闷骚模式，打开明骚模式。</br>穿平时一直想穿却不从来不敢穿的拖地大花裙子，带精致文艺范儿的草帽，在夕阳西下的时候，在无人的沙滩上肆无忌惮地蹦跶，仿佛自己是上了发条的动画人物。在午后无人的椰子林中，骑着干瘪车带的自行车，快速而潇洒地撒欢环岛，仿佛整个岛都是自己的！此时不疯，更待何时……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/e2/fd952e3c26625f.jpg","http://img1.qunarzz.com/travel/poi/1501/a8/629db864a68304.jpg","http://img1.qunarzz.com/travel/poi/1501/46/ead5beb569109d.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/1411/66/665661ae79430f71213a9cdb.jpg_r_480x360x95_c05a0c0b.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/201311/27/0a8b1520805e7b9077509745.jpg_r_150x150_610480f9.jpg",
            name : "帕劳",
            place : "帕劳",
            place_url:"http://travel.qunar.com/p-cs369120-palao",
            writer : "纱南李",
            writer_url: "http://travel.qunar.com/space/126782338@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5071599",
            content : "帕劳归来，何止不看海？帕劳除了海，她美的地方，实在太多了。</br>别看微信文章，别看旅游攻略，帕劳的民风淳朴，你必须亲身体会，别说他们房子落后酒店不豪华，网络比蜗牛慢，离开你的城市来到这里，时间不再不够，没有资讯填满你的生活你有时间沉淀思考，欣赏绝美的大自然让你做该做的事：日出就欣赏日出，日落就欣赏日落。帕劳，值得你亲身去经历去感受的神奇世界另一角落……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/18/2e57ae5eb2d480.jpg","http://img1.qunarzz.com/travel/poi/1501/21/f8165456428f6d.jpg","http://img1.qunarzz.com/travel/poi/1501/e6/8120ed8c4441c3.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/d4/1501/d2/89aed5a2cc7c93.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/1501/2a/b6ca3b5f8853d3.jpg_r_150x150_b674a187.jpg",
            name : "塞班岛",
            place : "塞班岛",
            place_url:"http://travel.qunar.com/p-cs309037-saibandao",
            writer : "六零先生",
            writer_url: "http://travel.qunar.com/space/5599052@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5007120",
            content : "塞班是个蓝得像场梦的地方，来过第一次，还会想念。</br>假如你需要一个地方，看湛蓝的纯净大海，晒灿烂的阳光，吹干净舒适的海风，跟清澈见底的海水亲密接触 ，在清透的空气里把自己染成蓝色，那么塞班正合你意。如果你需要一个地方，哪怕什么也不干，只是默默地晒太阳，感受热带海洋的热情，那么塞班绝对是你该来的地方……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/92/a6f88d39b11638.jpg","http://img1.qunarzz.com/travel/poi/1501/b3/6a9445c1a3a4a7.jpg","http://img1.qunarzz.com/travel/poi/1501/b8/4d33ff5220d335.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/201403/29/469e8e96e79aed88ddb12cfb.jpg_r_720x400x95_f776a764.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/1410/23/d00e7febc8d19444ffffffff8c9f8ffa.jpg_r_150x150_1c791e3f.jpg",
            name : "塞舌尔",
            place : "塞舌尔",
            place_url:"http://travel.qunar.com/p-gj300508-saisheer",
            writer : "秤子Ishtar",
            writer_url: "http://travel.qunar.com/space/146024794@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5018672",
            content : "如果你一直觉得海岛是单调的，那么你该到塞舌尔体验精彩。</br>这个坐落在东部非洲印度洋上的群岛国家,不仅仅是英国威廉王子与凯特王妃的蜜月圣地，也是每个人可以找到归属感的最美伊甸园。在最美海滩漫步，在维多利亚的集市穿梭，可以尽享奢华度假，可以坐拥慵懒时光。快乐和失意都可以在塞舌尔肆意行走，行到水穷处，坐看云起时，第一次觉得浪漫与生活可以如此婉约和谐……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/86/64ddc8c7a2366b.jpg","http://img1.qunarzz.com/travel/poi/1501/93/aa4913eacb4808.jpg","http://img1.qunarzz.com/travel/poi/1501/f5/b0605a1a7086d3.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/d2/201212/01/1b5bdb217a570641ddb12cfb.jpg_r_480x360x95_931244d5.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/headshot/201308/12/f4a02f6b526823a17c43c4d7.jpg_r_150x150_bfdadd73.jpg",
            name : "三亚",
            place : "三亚",
            place_url:"http://travel.qunar.com/p-cs300188-sanya",
            writer : "灰灰不睡觉",
            writer_url: "http://travel.qunar.com/space/27424@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5070516",
            content : "三亚，它是柔情的，是温暖的。</br>在这里，随处可见跃动的人们闲游亚龙湾，在北纬18度享受久违的阳光；它又是静谧的，在这里，随处可见虔诚的信徒漫步南山，在南海观音处留下最真诚的祈祷，即使再躁动的不安都将烟消云散；在这里，在喧闹处寻找最深处的宁静，静坐庭前，赏花开花落，笑谈浮生流年的安闲，面朝大海，春暖花开……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/7c/2bc0d7d62e79f0.jpg","http://img1.qunarzz.com/travel/poi/1501/73/37988f221a6031.jpg","http://img1.qunarzz.com/travel/poi/1501/c1/1eab0b9a30fdf6.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/d2/201212/12/ce1f1f3d06d5964dddb12cfb.jpg_r_480x360x95_b3f4bc5a.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/1411/d8/d84e972f0297c740088.jpg_r_150x150_fc997286.jpg",
            name : "夏威夷",
            place : "夏威夷",
            place_url:"http://travel.qunar.com/p-sf324994-xiaweiyi",
            writer : "陈小花儿1",
            writer_url: "http://travel.qunar.com/space/167358358@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/4816272",
            content : "北岸的风光很好。</br>因为大多游客都在honolulu，waikiki 那边扎堆，只有一些自驾游客，或者朋友带去的才会跑去真正夏威夷风光的北岸~其实不用灰心，就算是不自驾也可以坐公交到达北岸的~坐TheBus就可以，官网查时间表和路线，可能时间长一些，2小时到达北岸从honolulu。那边大城市叫Haleiwa也有青旅$35一晚上……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/b9/d01eed1a69712f.jpg","http://img1.qunarzz.com/travel/poi/1501/72/ecd62462af48db.jpg","http://img1.qunarzz.com/travel/poi/1501/91/a50482def99ad2.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/1408/21/e1d4108ddaf85dbfffffffffc8d65eac.jpg_r_480x360x95_7120b6f3.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/headshot/201308/12/8844ebe4c90d41e87c43c4d7.jpg_r_150x150_3f26fd36.jpg",
            name : "长滩岛",
            place : "长滩岛",
            place_url:"http://travel.qunar.com/p-cs316819-zhangtandao",
            writer : "uaby0836",
            writer_url: "http://travel.qunar.com/space/172153796@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5052148",
            content : "每个人选择一个旅游目的地的最初念想都各有不同~</br>这次，因为东南亚最好吃的海鲜以及性价比最高的海上活动，我便在28年以来第一次独自踏上了出国的旅程~也没有太大的犹豫与担心，脑子一热，便带着躁动的心出发了~一口很烂的英语，一个破相机，我就这么开始了自己的菲律宾长滩岛四天之旅……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/b6/b521cd0ea34244.jpg","http://img1.qunarzz.com/travel/poi/1501/da/7a8bc98fc4a434.jpg","http://img1.qunarzz.com/travel/poi/1501/82/7f1901798eab37.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/1411/4e/4e45dbe863bd4aa213a9cdb.jpg_r_480x360x95_1e460481.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/headshot/201308/12/addb3132387b78ef7c43c4d7.jpg_r_150x150_6c5c7180.jpg",
            name : "大溪地",
            place : "大溪地",
            place_url:"http://travel.qunar.com/p-cs368569-daxidi",
            writer : "vlvt9766",
            writer_url: "http://travel.qunar.com/space/172676216@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5072748",
            content : "大溪地，一生不可不去。离开那里就深深不舍和怀念。</br>回到广州那几天，就陷入对她如爱人一样的思念一片狼藉。初到大溪地，我甚至觉得睡觉都是在浪费时间，虽然我经历十几个小时的长途飞行，下了飞机，便爱上这里。我对那里美的一塌糊涂的明信片般风景深深地深深陶醉，在这充满着安宁平和幸福的空气中，其实睡觉就是一件多么快乐的事……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/3b/865b8126dee0c2.jpg","http://img1.qunarzz.com/travel/poi/1501/c8/d1a5fcb6b90d56.jpg","http://img1.qunarzz.com/travel/poi/1501/aa/3d69ab494e7090.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/201408/07/764ff56b74581df4c8d65eac.jpg_r_480x360x95_8b95291a.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/1501/be/1c5990ff4264f2.jpg_r_150x150_7fd1a2dd.jpg",
            name : "毛里求斯",
            place : "毛里求斯",
            place_url:"http://travel.qunar.com/p-cs369115-maoliqiusi",
            writer : "桔猪",
            writer_url: "http://travel.qunar.com/space/998@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5099578",
            content : "马克•吐温说“上帝先创造了毛里求斯，再按此创造了伊甸园。” </br>真正造访过毛里求斯，才发现这话没有言过其实。毛里求斯，这座曾经荣获“全球最佳海岛”称号的火山小岛，是名副其实的“印度洋明珠”。这里有成片的甘蔗田、茂密的原始森林、绚丽的七色土，但这些都不如环绕小岛周围的海水、沙滩、灿烂千阳更令人心动……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1411/2c/2ceaa6700ba8017f213a9cdb.jpg_r_480x360x95_6fde72c4.jpg","http://img1.qunarzz.com/travel/d4/1412/d2/d25cda69b2850e1dcdb.jpg","http://img1.qunarzz.com/travel/d5/1412/92/9216daca6a2fd931cdb.jpg"]
        },
        {
            logo_img : "http://img1.qunarzz.com/travel/poi/201408/07/9b59fb5038840c0bc8d65eac.jpg_r_480x360x95_f2ee0510.jpg",
            code_img : "http://img1.qunarzz.com/ucenter/portrait/201307/19/37d66e4a82b1da6e5a02657b.jpg_r_150x150_5b0ad082.jpg",
            name : "斐济",
            place : "斐济",
            place_url:"http://travel.qunar.com/p-gj300497-feiji",
            writer : "YanLeeC腌鱼",
            writer_url: "http://travel.qunar.com/space/133141618@qunar#js_book#1",
            link : "http://travel.qunar.com/youji/5066866",
            content : "天堂确实存在。</br>阴雨的冬日早晨，回忆变得有点诡异：YASAWA蓝得通透见底的海水，延绵几公里无人的沙滩。海浪一个个扑涌过来，前赴后继，仿佛告诉我，过去与未来都飘渺如浪花，此时此刻你拥有完美无瑕的“现在”。这是真实存在的回忆，并不是虚幻的梦境……",
            flag : "聪明旅行家",
            show_pic : ["http://img1.qunarzz.com/travel/poi/1501/5a/afe3022d9c995b.jpg","http://img1.qunarzz.com/travel/poi/1501/76/0d831039c4d1df.jpg","http://img1.qunarzz.com/travel/poi/1501/47/f55997c95c55e1.jpg"]
        }
    ];
    var place = [
        {
            left: 244,
            top: 261,
            font_left : 41,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/4b/55f8dde1bd66a4.jpg",
            title : "塞舌尔",
            content : "西印度洋群岛国家。拥有全球最美的海滩，远离尘世喧嚣，犹如世外桃源般宁静美好。享有“旅游者天堂”的美誉。</br>【关键词】品质海岛，全球第一白沙滩，中国人少，英国人很多。",
            moreHref : "http://travel.qunar.com/p-gj300508-saisheer"
        },
        {
            left: 271,
            top: 294,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/2a/4428e60ed3c7f8.jpg",
            title : "毛里求斯",
            content : "非洲东部的岛国。四周被珊瑚礁环绕，岛上地貌千姿百态，景色颇为壮观。著名景点蓝湾以水天相接、海天一色而闻名世界。",
            moreHref : "http://travel.qunar.com/p-cs369115-maoliqiusi"
        },
        {
            left: 295,
            top: 235,
            font_left : -26,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/bf/b864a66af82bc3.jpg",
            title : "马尔代夫",
            content : "印度洋上的岛国。数千座珊瑚岛珍珠般散落在蔚蓝的大海中，碧海蓝天，水清沙幼，椰林树影，鸟语啁啾，被称为“人间天堂”。",
            moreHref : "http://travel.qunar.com/p-cs369114-maerdaifu"
        },
        {
            left: 372,
            top: 235,
            font_left : -26,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/1b/cfdcfbb75654fa.jpg",
            title : "普吉岛",
            content : "泰国南部岛屿。海水清澈湛蓝，沙滩风情浪漫。白天阳光充沛，傍晚夕阳美好，夜晚闹市喧嚣，被誉为“安达曼海上的明珠”。",
            moreHref : "http://travel.qunar.com/p-cs302159-pujidao"
        },
        {
            left: 376,
            top: 217,
            font_left : -26,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/f4/44c0803b5887cc.jpg",
            title : "苏梅岛",
            content : "泰国第三大岛屿。水清沙白，景致迷人，月牙形的海滩让人仿佛置身于电影世界。而沉静的小渔村，美丽的瀑布则保留着自然纯朴的原始风味。",
            moreHref : "http://travel.qunar.com/p-cs302162-sumeidao"
        },
        {
            left: 425,
            top: 263,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/ac/c2895ed7fdf383.jpg",
            title : "巴厘岛",
            content : "印度尼西亚的岛屿。在细软沙滩和宗教神明中，在惬意休闲与隐秘奢华间，藏着万种风情。有“神明之岛”，“魔幻之岛”等美称。",
            moreHref : "http://travel.qunar.com/p-cs302310-balidao"
        },
        {
            left: 465,
            top: 226,
            font_left : 35,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/f1/19333f35ce33d6.jpg",
            title : "帕劳",
            content : "太平洋上的岛国。由200多个火山岛和珊瑚岛组成，大多数岛屿被热带雨林覆盖，海底生物形形色色，成群结队的活动，场面颇为壮观。",
            moreHref : "http://travel.qunar.com/p-cs369120-palao"
        },
        {
            left: 566,
            top: 285,
            font_left : 35,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/7c/35badd61f57b9.jpg",
            title : "斐济",
            content : "南太平洋上的美丽群岛。这里不仅有浩瀚无边的蓝色汪洋，更有丰富的传统礼节和迷人历史，满足有你对蓝色的所有想像。",
            moreHref : "http://travel.qunar.com/p-gj300497-feiji"
        },
        {
            left: 452,
            top: 161,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/22/04e199d8646267.jpg",
            title : "冲绳",
            content : "日本最西南端群岛。拥有众多美丽的岛屿、珊瑚礁和沙滩，既有东方风味又兼具美式风情，有“日本的夏威夷”之称，也是空手道的故乡。",
            moreHref : "http://travel.qunar.com/p-sf319225-chongsheng"
        },
        {
            left: 520,
            top: 201,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/8e/51ed841b6e0767.jpg",
            title : "塞班",
            content : "位于菲律宾海与太平洋之间。西岸是延绵细软的沙滩，东岸则多是岩石与断崖，海水呈现出淡绿、碧绿、深蓝等多种颜色，构成了绝美的空间。",
            moreHref : "http://travel.qunar.com/p-cs309037-saibandao"
        },
        {
            left: 680,
            top: 274,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/58/35f1f4d136ab7.jpg",
            title : "大溪地",
            content : "南太平洋中法属岛屿。人间天堂的代名词，是蓝天、白云、碧浪、浪漫、绚丽和传奇的结合体。游客可乘玻璃底的游艇，观赏珍奇的海底世界。",
            moreHref : "http://travel.qunar.com/p-cs368569-daxidi"
        },
        {
            left: 660,
            top: 196,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/b2/1e3445d1ed1eff.jpg",
            title : "夏威夷",
            content : "北太平洋群岛。拥有得天独厚的美丽环境，是世界上旅游工业最发达的地方之一。游客可在一天之中攀登雪山，潜入海底，还可以观赏火山奇景。",
            moreHref : "http://travel.qunar.com/p-sf324994-xiaweiyi"
        },
        {
            left: 515,
            top: 220,
            font_left : 42,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/a0/ca5751ee230757.jpg",
            title : "关岛",
            content : "西太平洋的岛屿。海岛北部为石灰岩高地，南部为较高的火山山脉，灌木林茂密，自然环境优美，被称为“常夏之岛”、“免税购物天堂”。",
            moreHref : "http://travel.qunar.com/p-cs316779-guandao"
        },
        {
            left: 430,
            top: 205,
            font_left : 35,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/3c/5ef7a0295763d2.jpg",
            title : "长滩",
            content : "菲律宾岛屿。被誉为世界最好的海滩之一，碧海蓝天、椰树沙滩，好玩刺激的水上活动，丰富的夜生活，世界各地的美食，各具特色的度假酒店，样样齐全。",
            moreHref : "http://travel.qunar.com/p-cs316819-zhangtandao"
        },
        {
            left: 437,
            top: 151,
            font_left : -26,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/85/5d13ebea572654.jpg",
            title : "济州",
            content : "韩国岛屿。它是徒步旅行者的天堂，也是看海望山的不二去处，它清新、美丽却不失韵味，被誉为韩国夏威夷。",
            moreHref : "http://travel.qunar.com/p-sf367742-jizhoudao"
        },
        {
            left: 413,
            top: 233,
            font_left : 35,
            font_top : 30,
            image : "http://img1.qunarzz.com/travel/poi/1501/3c/07cb0ca5baa912.jpg",
            title : "沙巴",
            content : "北婆罗洲岛屿。落日的故乡，是世界上落日最美的地方之一。拥有多样化的动植物资源、独特的地理环境、美不胜收的天堂岛屿和独特的人文。",
            moreHref : "http://travel.qunar.com/p-sf316801-shaba"
        },
        {
            left: 395,
            top: 195,
            font_left : -26,
            font_top : 27,
            image : "http://img1.qunarzz.com/travel/poi/1501/e5/728aff2a1a6df5.jpg",
            title : "三亚",
            content : "海南岛最南端。一个被碧海蓝天、柔和海滩、清新空气和浪漫阳光环绕的南国之城，一个梦想中的度假天堂。拥有种类丰富的美味海鲜和便宜好吃的热带水果。",
            moreHref : "http://travel.qunar.com/p-cs300188-sanya"
        }
    ];
    var exercise = [
        {
            title : "1、在纪念品店看到漂亮海星，你会送给谁？",
            test : [
                {
                    'content' : "爱人",
                    'island' : "马尔代夫,大溪地"
                },
                {
                    'content' : "父母",
                    'island' : "普吉岛,巴厘岛"
                },
                {
                    'content' : "孩子",
                    'island' : "塞班岛,夏威夷"
                },
                {
                    'content' : "朋友",
                    'island'  : "毛里求斯,帕劳"
                }
            ]
        },
        {
            title : "2、沙滩酒吧正在放音乐，你觉得是什么音乐？",
            test : [
                {
                    'content' : "净化心灵的宗教音乐",
                    'island' : "巴厘岛"
                },
                {
                    'content' : "狂野震撼的摇滚歌曲",
                    'island' : "塞舌尔,夏威夷,毛里求斯"
                },
                {
                    'content' : "抒情浪漫的悠扬音乐",
                    'island' : "马尔代夫,帕劳"
                },
                {
                    'content' : "高雅尊贵的爵士乐曲",
                    'island'  : "大溪地"
                }
            ]
        },
        {
            title : "3、你去别有情调的酒吧喝酒，会点什么？",
            test : [
                {
                    'content' : "啤酒",
                    'island' : "普吉岛"
                },
                {
                    'content' : "香槟",
                    'island' : "巴厘岛,塞班岛"
                },
                {
                    'content' : "白葡萄酒",
                    'island' : "帕劳,马尔代夫,毛里求斯"
                },
                {
                    'content' : "红葡萄酒",
                    'island'  : "大溪地,夏威夷,塞舌尔"
                }
            ]
        },
        {
            title : "4、天上掉下神秘礼物，你认为是什么？",
            test : [
                {
                    'content' : "一枚昂贵的戒指",
                    'island' : "马尔代夫,大溪地"
                },
                {
                    'content' : "一瓶名贵葡萄酒",
                    'island' : "帕劳,塞舌尔"
                },
                {
                    'content' : "一款奢侈品包包",
                    'island' : "夏威夷,毛里求斯,塞班岛"
                },
                {
                    'content' : "一台最新款手机",
                    'island'  : "普吉岛,巴厘岛"
                }
            ]
        },
        {
            title : "5、一位美女一丝不挂在沙滩散步，请问为什么？",
            test : [
                {
                    'content' : "那里是属于天体营俱乐部的小岛",
                    'island' : ""
                },
                {
                    'content' : "她以为自己是穿着泳衣的",
                    'island' : ""
                },
                {
                    'content' : "她是个女演员，正在拍摄电影",
                    'island' : ""
                },
                {
                    'content' : "她以为那里没有其他人",
                    'island'  : ""
                }
            ]
        }
    ];
    var exersize_result = window.info= {
        "马尔代夫" : {
            name: "马尔代夫",
            share: "骆驼君送我习大大同款马代游，简直醉了！ ",
            reason : "送你习大大同款马代游，拿好不谢，骆驼君只能帮你到这儿了。",
            img : "http://img1.qunarzz.com/travel/poi/1501/f4/c2e7fa0a823745.jpg"
        },
        "普吉岛" : {
            name: "普吉岛",
            share: "看完比女人还销魂的男人们，别问我节操是神马？！",
            reason : "看完比女人还销魂的男人们，请问节操是神马，可以吃么？",
            img : "http://img1.qunarzz.com/travel/poi/1501/25/67bc6aaf7bf8c9.jpg"
        },
        "塞班岛" : {
            name: "塞班岛",
            share: "骆驼君一定要玩这么大么？伦家只是想去塞班岛做个安静的美土豪。",
            reason : "一定要玩这么大么？伦家只是想去塞班岛做个安静的美土豪。",
            img : "http://img1.qunarzz.com/travel/poi/1501/c8/e433734643002e.jpg"
        },
        "毛里求斯" : {
            name: "毛里求斯",
            share: "以琛带默笙私奔到毛里求斯度蜜月啦，朕甚感欣慰！",
            reason : "亲，旷世奇恋以琛默笙都去毛球蜜月了，你还在等神马？",
            img : "http://img1.qunarzz.com/travel/poi/1501/a7/2cd1e9720d99ce.jpg"
        },
        "塞舌尔" : {
            name: "塞舌尔",
            share: "流弊轰轰，人品爆发，要去塞舌尔想想还有点小激动呢！",
            reason : "流弊轰轰，人品爆发，要去塞舌尔想想还有点小激动呢！",
            img : "http://img1.qunarzz.com/travel/poi/1501/a1/6299bd88a7aa38.jpg"
        },
        "巴厘岛" : {
            name: "巴厘岛",
            share: "骆驼君说，荷包略扁，心塞！没关系，还有巴厘岛！",
            reason : "荷包略扁，心塞！没关系，还有巴厘岛，一般人我不告诉他。",
            img : "http://img1.qunarzz.com/travel/poi/1501/3a/995f65665e8426.jpg"
        },
        "帕劳" : {
            name: "帕劳",
            share: "太凶残了，上帝的水族箱竟然被我承包了，赶明儿再玩耍哟！",
            reason : "太凶残了，上帝的水族箱竟然被你承包了，还能不能愉快地玩耍了！",
            img : "http://img1.qunarzz.com/travel/poi/1501/2e/4efbba1a25cedd.jpg"
        },
        "大溪地" : {
            name: "大溪地",
            share: "带上十包辣条去大溪地，有钱只管任性！",
            reason : "人类已经无法阻止你去天堂了，记得带上十包辣条，有钱只管任性！",
            img : "http://img1.qunarzz.com/travel/poi/1501/88/9378d27d7b06f.jpg"
        },
        "夏威夷" : {
            name: "夏威夷",
            reason : "为了度个假，你也是蛮拼的。骆驼君姑且赏你个夏威夷，让你买买买！",
            share: "骆驼君你真是太顽皮了，不带这么玩的好么！想让我星际穿越阔以直说嘛！",
            img : "http://img1.qunarzz.com/travel/poi/1501/1e/fefd81ade15057.jpg"
        },
        "%￥#@！#" : {
            name: "%￥#@！#",
            reason : "艾玛，骆驼君也帮不了你了，适合你的海岛可能在火星上。",
            share: "骆驼君你真是太顽皮了，不带这么玩的好么！想让我星际穿越阔以直说嘛！",
            img : "http://img1.qunarzz.com/travel/poi/1501/6c/e46055a43475de.jpg"
        }
    }
</script>

<script src="js/jquery.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/essential.js"></script>
<script src="js/map.js"></script>
<script src="js/tab.js"></script>
<script src="js/index.js"></script>
</body>
</html>